{% extends "base.html" %}
{% block content %}

<div class="flex justify-between mb-4">
    <a href="{% url 'purchases_create' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Add New Purchase
    </a>
</div>

<div class="flex justify-between mb-4">
<table class="min-w-full border border-gray-300">
    <thead class="bg-gray-200 border-b">
        <tr>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Menu Item</th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quantity</th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ purchase.menu_item }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ purchase.quantity }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ purchase.time_stamp }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div>

</div>

{% endblock %}
