{% extends "base.html" %}
{% block content %}
<h2 class="text-lg font-bold mb-4">Recipe Requirements</h2>

<!-- Call to Action Button -->
<div class="mb-4">
    <a href="{% url 'recipe_requirements_create' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Create New Recipe Requirement
    </a>
</div>

<div class="overflow-x-auto">
<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-200 border-b">
        <tr>
            <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Menu Item</th>
            <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Ingredient</th>
            <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for requirement in recipe_requirements %}
        <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ requirement.menu_item }}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ requirement.ingredient }}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ requirement.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}